<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Best Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/pub;ic/normalize.css">
    <link rel="stylesheet" href="styles/public/base.css">
    <link rel="stylesheet" href="styles/public/icons.css">
    <link rel="stylesheet" href="styles/public/layout.css">
    <link rel="stylesheet" href="styles/public/modules.css">
    <link rel="icon" type="image/x-icon" href="https://avatars2.githubusercontent.com/u/18607604?v=3&s=200">
    <link rel="stylesheet" type="text/css" media="screen" href="app.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <p>At Best Books, we have <strong><%=books.length %></strong> books in our collection:</p>
    <ul>
      <% books.forEach((book) => { %>
      <li><img src="<%=book.image_url%>"/></li>
      <li><em><%= book.title %></em></li>
      <li><%= book.author %> </li>
      <li><a href='/books/<%= book.id %>' class='book-details'>Details</a></li>
      <% } ) %>
    </ul>
    <%- include('partials/footer') %>
  </body>
</html>