<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div id="page-header">
      <h2>Saved Books</h2>
    </div>
    <div id="page">
      <ul>
          <% books.forEach((book) => { %>
          <div class="book-info">
            <li class="book-image"><img src="<%=book.image_url%>"/></li>
            <li class="book-title"><em><strong><%= book.title %></strong></em></li>
            <li class="book-author"><%= book.author %> </li>
            <li class="book-details"><a href='/books/<%= book.id %>'>Details</a></li>
          </div>
          <% } ) %>
        </ul>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>