<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <p>At Best Books, we have <strong><%=books.length %></strong> books in our collection:</p>
    <ul>
      <% books.forEach((book) => { %>
      <li><img src="<%=book.image_url%>"/></li>
      <li><em><%= book.title %></em></li>
      <li><%= book.author %> </li>
      <li><a href='/books/<%= book.id %>' class='book-details'>Details</a></li>
      <% } ) %>
    </ul>
    <%- include('partials/footer') %>
  </body>
</html>