<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Best Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../app.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <ul>
      <% books.forEach((book) => { %>
      <li><img src="<%=book.image_url%>"/></li>
      <li><em><%= book.title %></em></li>
      <li><%= book.author %> </li>
      <li><%= book.isbn %> </li>
      <li><%= book.description %></li>
      <% } ) %>
    </ul>
    <p>
      <a href='/books'>Return to Books List</a>
    </p>
    <%- include('../partials/footer') %>
  </body>
</html>